.clouds-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.cloud{
    position: absolute;
    background-image: url('./../assets/clouds/cloud2.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: move-clouds linear infinite;
}
.cloud-1 { 
    width: 800px; 
    height: 400px;
    top: -5%; 
    animation-duration: 100s;
    opacity: 0.3; 
    filter: blur(0px);
}
.cloud-2{
    width: 900px; 
    height: 450px;
    top: -8%; 
    animation-duration: 100s;
    animation-delay: -25s;
    opacity: 0.3; 
    filter: blur(0px);
}
.cloud-3{
    width: 700px; 
    height: 350px;
    top: -3%; 
    animation-duration: 100s;
    animation-delay: -50s;
    opacity: 0.3; 
    filter: blur(0px);
}
.cloud-4{
    width: 800px; 
    height: 400px;
    top: -4%; 
    animation-duration: 100s;
    animation-delay: -75s;
    opacity: 0.3; 
    filter: blur(0px);
}
.cloud-5{
    width: 400px; 
    height: 200px; 
    top: 10%; 
    opacity: 0.5; 
    animation-duration: 85s; 
    animation-delay: -60s;
}
.cloud-6{
    width: 400px; 
    height: 200px; 
    top: 8%; 
    opacity: 0.5; 
    animation-duration: 80s; 
    animation-delay: -40s;
}
.cloud-7{
    width: 400px; 
    height: 200px; 
    top: 12%; 
    opacity: 0.5; 
    animation-duration: 70s; 
    animation-delay: -20s;
}
.cloud-8{
    width: 400px; 
    height: 200px; 
    top: 10%; 
    opacity: 0.5; 
    animation-duration: 75s; 
    /* animation-delay: -60s; */
}
.cloud-9{
    width: 400px; 
    height: 200px; 
    top: 6%; 
    opacity: 0.5; 
    animation-duration: 85s; 
    animation-delay: -50s;
}
.cloud-10{
    width: 400px; 
    height: 200px; 
    top: 6%; 
    opacity: 0.5; 
    animation-duration: 80s; 
    animation-delay: -30s;
}
.cloud-11{
    width: 400px; 
    height: 200px; 
    top: 5%; 
    opacity: 0.5; 
    animation-duration: 80s; 
    animation-delay: -10s;
}
.cloud-12{
    width: 400px; 
    height: 200px; 
    top: 2%; 
    opacity: 0.5; 
    animation-duration: 80s; 
    animation-delay: -70s;
}
/* .cloud-2 { 
    width: 600px; 
    height: 300px;
    top: 10%; 
    animation-duration: 85s; 
    opacity: 0.5; 
    animation-delay: -50s; 
    animation-duration: 100s;
    filter: blur(0px);
}
.cloud-3 { 
    width: 400px; 
    height: 200px; 
    top: 5%; 
    opacity: 0.5; 
    animation-duration: 80s; 
    animation-delay: -60s;
}
.cloud-4 { 
    width: 250px; 
    height: 120px; 
    top: 15%; 
    animation-duration: 45s; 
    opacity: 0.5; 
    animation-delay: -10s; 
}  */

@keyframes move-clouds {
  from { 
    transform: translateX(-1000px); 
  }
  to { 
    transform: translateX(110vw); 
  }
}