.aqiContent{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 3px;
}
.aqiSlider{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #00e400, #ffff00, #ff7e00, #fe0000, #8f3f97, #7e0023);
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.aqiDot{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
}