.dailyForecastSlide{
    font-size: 0.8rem;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.dailyCard{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr; 
    gap: 15px; 
    border-top: 1px rgba(255, 255, 255, 0.405) solid;
    padding-bottom: 15px; 
    padding-top: 15px; 
    font-size: 1.4rem;
}
.sliderBar{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #87ceeb, #90ee90, #ffd700);
}
.dailySliderConatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dailySlider{
    height: 5px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
}