.dailyForecastSlide{
    font-size: 0.8rem;
    overflow: hidden;
    overflow-y: scroll;
}
.dailyTitle{
    color: rgba(255, 255, 255, 0.582);
    display: flex; 
    align-items: center; 
    gap: 5px; 
    padding-bottom: 5px;
    font-size: 1rem;
}
.dailyCard{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr; 
    gap: 15px; 
    border-top: 1px rgba(255, 255, 255, 0.405) solid;
    padding-bottom: 15px; 
    padding-top: 15px; 
    font-size: 1.4rem;
}
.dailySlider{
    background-color: aqua;
}
.dailySliderConatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dailySlider{
    height: 5px;
    width: 50%;
    background-color: aqua;
    border-radius: 10px;
}