.uvSlider{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #00e400, #ffff00, #ff7e00, #fe0000, #8f3f97);
    margin-top: 20px;
    margin-bottom: 4px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.uvInfo{
    padding-top: 10px;
}