#cityName{
    font-size: 2rem;
}
/* general data */
.generalData{
    color: white;
    padding-top: 100px;
    display: grid;
    place-items: center;
}

/* slides css */
.slidesContainer {
    width: 1100px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: repeat(5,1fr); 
    margin: auto;
    grid-template-areas: 
        "hourly hourly hourly hourly hourly hourly"
        "daily  daily  aqi    aqi    map    map"
        "daily  daily  wind   wind   map    map"
        "daily  daily  uv     sunset feel   precip"
        "moon   moon   humid  vis    press  avg";
    gap: 10px;
    color: white;
}
.slide {
    background-color: rgb(61 124 188);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}
.hourlyForecastSlide { grid-area: hourly; aspect-ratio: 6/1;}
.dailyForecastSlide { grid-area: daily; aspect-ratio: 2/3;}
.aqiSlide { grid-area: aqi; aspect-ratio: 2/1;}
.precepitationmapSlide { grid-area: map; aspect-ratio: 1/1;}
.windSlide { grid-area: wind; aspect-ratio: 2/1;}
.uvSlide { grid-area: uv; aspect-ratio: 1/1;}
.sunsetSlide { grid-area: sunset; aspect-ratio: 1/1;}
.feellikeSlide { grid-area: feel; aspect-ratio: 1/1;}
.precepitationSlide { grid-area: precip; aspect-ratio: 1/1;}
.moonSlide { grid-area: moon; aspect-ratio: 2/1;}
.humiditySlide { grid-area: humid; aspect-ratio: 1/1;}
.visibilitySlide { grid-area: vis; aspect-ratio: 1/1;}
.pressureSlide { grid-area: press; aspect-ratio: 1/1;}
.averagesSlide { grid-area: avg; aspect-ratio: 1/1;}

