#cityName{
    font-size: 2rem;
}
/* general data */
.generalData{
    color: white;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    padding-top: 100px;
    display: grid;
    place-items: center;
}

/* slides css */
.slidesContainer {
    width: 1100px;
    padding-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: repeat(5,1fr); 
    margin: auto;
    grid-template-areas: 
        "hourly hourly hourly hourly hourly hourly"
        "daily  daily  aqi    aqi    map    map"
        "daily  daily  wind   wind   map    map"
        "daily  daily  uv     sunset feel   precip"
        "moon   moon   humid  vis    press  avg";
    gap: 10px;
    color: white;
}
.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* The "frosted" effect */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    color: white;
}
.Title{
    color: rgba(255, 255, 255, 0.6);
    display: flex; 
    align-items: center; 
    gap: 5px; 
    padding-bottom: 5px;
    font-size: 0.8rem;
}
.hourlyForecastSlide { grid-area: hourly; aspect-ratio: 6/1;}
.dailyForecastSlide { grid-area: daily; aspect-ratio: 2/3;}
.aqiSlide { grid-area: aqi; aspect-ratio: 2/1;}
.precepitationmapSlide { grid-area: map; aspect-ratio: 1/1;}
.windSlide { grid-area: wind; aspect-ratio: 2/1;}
.uvSlide { grid-area: uv; aspect-ratio: 1/1;}
.sunsetSlide { grid-area: sunset; aspect-ratio: 1/1;}
.feellikeSlide { grid-area: feel; aspect-ratio: 1/1;}
.precepitationSlide { grid-area: precip; aspect-ratio: 1/1;}
.moonSlide { grid-area: moon; aspect-ratio: 2/1;}
.humiditySlide { grid-area: humid; aspect-ratio: 1/1;}
.visibilitySlide { grid-area: vis; aspect-ratio: 1/1;}
.pressureSlide { grid-area: press; aspect-ratio: 1/1;}
.averagesSlide { grid-area: avg; aspect-ratio: 1/1;}

/* backgound */

.appContainer{
    /* background: linear-gradient(to bottom, #0a0b1a 0%, #1a1c2f 50%, #2a2d45 100%); */
    margin-bottom: 100px;
    position: relative;
}
.background-wrapper{
    position: fixed;
    background: 
    /* radial-gradient(circle at 70% 0%, rgba(255, 255, 255, 0.5) 0%, transparent 40%), */
    linear-gradient(0deg, #5da9ff 0%, #3e86e0 45%, #2465b8 100%);
    background-blend-mode: overlay;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}

/* .stars{
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;} */