.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
body{
  font-family: 'Inter';
  background-color: rgb(79 138 190);
}
html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}